.ReactModal__Content
{
    top : 50% !important;
    left : 50% !important;
    right : auto !important;
    bottom : auto !important;
    transform : translate(-50%, -50%) !important;
    min-height: 35vh;
    width: 50%;
}

.Footer{
    display: flex;
    flex-direction: column;
}